
<div class="card-group row"  *ngFor="let item of items">

    <div class="card btn bg-success text-white col-6 m-3 border border-success" (click)="verArtista(item)" >
        <img [src]="item.images | noImage" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title fw-bold fs-3">{{item.name}}</h5>
            <p class="card-text" *ngIf="item.artists">
                <span class="badge badge-secondary m-1 fw-bold" *ngFor="let artist of item.artists">{{artist.name}}</span>
            </p>
            <p class="card-text" *ngIf="item.genres">
                <span class="badge badge-secondary m-1" *ngFor="let genre of item.genres">{{genre}}</span>
            </p>
        </div>
    </div>
    <div class="col-6">
        <p class="h2 mb-3">Concierto en </p>
        <div id="map">
            <google-map 
                height="500px" 
                width="70%"
                [center]="getCenter(item.latitud,item.longitud)"
                [options]="options"
            >
            <map-marker
                [position]="getPosition(item.latitud,item.longitud)"
            >
          </map-marker>
            </google-map>
            
        </div>
    </div>

</div>