
<div class="row" *ngIf="loading">
    <div class="text-center col-12">
        <app-loading></app-loading>
    </div>
</div>
<div *ngIf="error" class="alert alert-danger">
    <h3>Error {{mensajeError}}</h3>    
</div>

<div class="col-md-auto">
    <h1>Descubre nuevos gustos, apoya a los artistas nuevos</h1>
</div>

<div class="container">
    <p class="h5">En este sitio encontrarás nuevas formas de dar a conocer tu música para cualquier usuario de internet.<br>Somos una organización sin fines de lucro que busca dar a conocer a nuevos artistas con la finalidad de ayudarlos a crecer musical y personalmente.</p>
</div>
      
            

