<div *ngIf="loading" class="row">
    <div class="col-12 text-center">
        <app-loading></app-loading>
    </div>
</div>
<div class="row mx-5" *ngIf="!loading">
    <div class="col-5 text-center">
        <img class="artistImg img-fluid" [src]="artista.images | noImage" alt="">
        <p class="fs-6 text-link mt-3" *ngIf="artista.external_urls?.spotify">
            <a [href]="artista.external_urls.spotify" class="text-light" target="_blank">Visitar página del artista</a>
        </p>
        <p class="fs-6 text-link mt-3" *ngIf="!artista.external_urls?.spotify">
            <a (click)="noArtistPage()" class="text-light" target="_blank">Visitar página del artista</a>
        </p>

    </div>
    <div class="col-7">
        <h1 class="my-4 fs-1 text-white">Artista: {{artista.name}}</h1>
        <div class="d-flex">
            <button mat-flat-button color="accent"
                class="btn-lg border border-success my-3 mr-3">
                Modificar
            </button>
            <button mat-flat-button color="primary" [routerLink]="['/home']"
                class="btn-lg border border-dark my-3">
                Regresar
            </button>
        </div>
        <div>
            <p class="fs-3 my-4">Acciones sobre conciertos</p>
            <div class="d-flex">
                <button mat-flat-button color="accent"
                    class="btn-lg border border-success my-3 mr-3 d-block"
                    (click)="openConcierto()">
                    Crear
                </button>
                <button mat-flat-button color="primary"
                    class="btn-lg border border-dark my-3 d-block">
                    Modificar
                </button>
            </div>
        </div>
    </div>
</div>

<div class="accordion row m-5 " id="accordionPanel">
    <div class="accordion-item" *ngFor="let track of tracks; let i = index">
        <h2 class="accordion-header" [id]="'headingOne'+i">
        <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" [attr.data-bs-target]="'#collapseOne'+i"  aria-expanded="false" aria-controls="collapseOne">
            {{track.name}}
        </button>
        </h2>
        <div [id]="'collapseOne'+i" class="accordion-collapse collapse" [attr.aria-labelledby]="'headingOne'+i">
        <div class="accordion-body d-flex justify-content-around align-items-center">
            <figure>
                <figcaption class="text-center fs-5 my-3">Álbum: {{track.album.name}}</figcaption>
                <img [src]="track.album.images | noImage" alt="Imagen de álbum" class="artistImg">
            </figure>
            <iframe [src]="track.uri | domSeguro" width="400" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>
        </div>
        </div>
    </div>
</div>

<!-- <div class="row m-5">
    <div class="col">
        <table class="table">
            <thead>
                <tr>
                    <th>Foto</th>
                    <th>Album</th>
                    <th>Cancion</th>
                    <th>Vista previa</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let track of tracks">
                    <td class="w-25"><img [src]="track.album.images | noImage" alt="" class="w-75"></td>
                    <td>{{track.album.name}}</td>
                    <td>{{track.name}}</td>
                    <td><iframe [src]="track.uri | domSeguro" width="300" height="80" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe></td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->