<div class="container">
    <div class="form-container my-auto mx-auto p-5 text-white">
        <form class="text-center">
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Correo electrónico</mat-label>
                <input matInput placeholder="artista@example.com">
                <mat-hint>Correo registrado en el sitio</mat-hint>
            </mat-form-field>
            <mat-form-field appearance="outline" color="accent">
                <mat-label>Contraseña</mat-label>
                <input matInput placeholder="artista@example.com">
                <mat-hint>Contraseña asociada al usuario</mat-hint>
            </mat-form-field>
        </form>
        <button mat-stroked-button color="accent" [routerLink]="['/home']"
            class="btn-lg d-block mx-auto border border-success my-3">
            Iniciar sesión
        </button>
        <p class="fs-5 text-center text-success text-link" (click)="openRegister()">
            ¿No tienes cuenta?, ¡crea una gratis!
        </p>
    </div>
</div>