<div class="row mb-3">
    <div class="col-12">
        <input type="text" #term (keyup)="buscar(term.value)" class="form-control shadow" placeholder="Buscar artistas">
    </div>
</div>

<div class="row" *ngIf="loading">
    <div class="text-center col-12">
        <app-loading></app-loading>
    </div>
</div>
<div class="row" *ngIf="!loading">
    <div class="col-12">
        <app-card [items]="resultados"></app-card>
    </div>
</div>

<!-- <div class="card-columns">
    <div class="card" *ngFor="let artista of resultados">
        <img [src]="artista.images | noImage" alt="" class="card-img-top">
        <div class="card-body">
            <h5 class="card-title">{{artista.name}}</h5>
            <p class="card-text">
                <span class="badge badge-success m-1" *ngFor="let genre of artista.genres">{{genre}}</span>
            </p>
        </div>
    </div>
</div> -->