html, body { 
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-image: linear-gradient(to top, rgba(0,0,0,0.6), rgba(50,50,50));
    color: rgb(220,220,220);
}

.artistImg {
    border-radius: 50%;
}

.backdropBackground {
    background-color: rgba(105,240,174,0.1) !important;
    backdrop-filter: blur(3px) !important;
}

.backdropBackground-error {
    background-color: rgba(255, 2, 2, 0.4) !important;
    backdrop-filter: blur(3px) !important;
}

.cancel-button {
    background-color: rgb(85, 65, 135);
}

.confirm-button {
    background-color: rgb(105,240,174) !important;
    color: rgb(0,0,0) !important;
}

.confirm-button-error {
    background-color: rgb(240, 105, 105) !important;
    color: rgb(0,0,0) !important;
}

.sweet-popup-success{
    background-color: rgba(105,240,174,0.1) !important;
    border: 1px solid rgb(105,240,174) !important;
    border-radius: 1.5em !important;
    color: rgb(255,255,255) !important;
}

.sweet-popup-error{
    background-color: rgba(255, 2, 2, 0.4) !important;
    border: 1px solid rgb(240, 105, 105) !important;
    border-radius: 1.5em !important;
    color: rgb(255,255,255) !important;
}

mat-form-field {
    width: 90%;
    margin: 10px auto;
}

mat-hint, mat-error {
    font-size: 15px;
}

mat-label, input {
    font-size: 17px !important;
}

mat-dialog-container {
    background-color: rgba(5,5,5,0.85) !important;
}

.mat-dialog-container {
    border: 1px solid rgb(105,240,174) !important;
    border-radius: 1.5em !important;
}